<div class="content-wrapper">
  <section class="content-header">
  </section>
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <h1>Bienvenu, Tous droits resérvés</h1><br><br><br>
    <div class="row">
      <div class="col-lg-3 col-xs-6">
                <button type="submit" class="btn btn-primary" routerLink="users">Ajouter utilisateur</button>
              </div>
            <div class="col-lg-3 col-xs-6">
                <button type="submit" class="btn btn-primary" routerLink="role">Ajouter rôle     </button>
              </div>
            </div>
      </section>
      </div>
    