<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  


  <section class="content-header">
    <form>
      <input type="text" placeholder="Rechercher.." name="search2">
         <button type="submit"><i class="fa fa-search"></i></button>
     </form>
  </section>
  <h1>
    Liste des roles
  </h1>
 
  <div class="col-lg-3 col-xs-6">
    <button type="submit" class="btn btn-primary" routerLink="users">Ajouter role</button>
  </div><br><br>
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title"> </h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th> Nom </th>
                <th>Détail</th>
                <th>Supprimer</th>
                <th>Modifier</th>   
              </tr>
              </thead>
              <tbody>

              <tr >
                <td></td>
                <td></td> 
                <td></td>
                <td></td>
            </table>
          </div>
          <!-- /.box-body -->
        </div>

      </div>
    </div>
  </section>
</div>
