
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Liste des Sites favorés <img src="assets/dist/img/list.png">

    </h1>

  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title"> </h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">

            <input name="args" [(ngModel)]="args" placeholder="Entrez le titre" ><br>
            <table id="example2" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Visibilité</th>
                <th>Preset </th>
                <th>Rôle</th>
                <th></th>



              </tr>
              </thead>
              <tbody>

              <tr *ngFor="let sites of listFav | siteFav:args">
                <td>{{sites.entry.title}}</td>
                <td>{{sites.entry.description}}</td>
                <td>{{sites.entry.visibility }}</td>
                <td>{{sites.entry.preset}}</td>
                <td>{{sites.entry.role}}</td>
                <td><img src="assets/dist/img/favorite.png" (click)="addFav(id)"></td>
              </tr>
              </tbody>


            </table>
          </div>
          <!-- /.box-body -->
        </div>


